/* paramètres page police/marges */
body{
    font-family: "Raleway", sans-serif;
    margin: 20px 20px;
}
/* paramètres activity */
.containerActivity div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-around;
    border-radius: 1.5rem ;
    width: auto;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

div .activityCard {
    display: flex;
    flex-direction: column;
    margin: 0;    
}

.activityCard1 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    margin: 1rem;
    height: 380px;
}

.activityCard2 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    margin: 1rem;
    height: 170px;
}

.activityCard3 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    margin: 1rem;
    height: 170px;
}

.activityCard4 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    margin: 1rem;
    height: 380px;
}

.activityCard5 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    margin: 1rem;
    height: 170px;
}

.activityCard6 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    margin: 1rem;
    height: 180px;
}

.activityImg {
    object-fit: cover;
    object-position: center;
    width: 340px;
    height: 65%;
    border-radius: 1rem;
}

h2, h4 {
    margin-left: 2rem;
}

h4 {
    margin-left: 1rem;
    text-align:initial
}