/* paramètres page police/marges */
body{
    font-family: "Raleway", sans-serif;
    margin: 2% 2%;
}
/* paramètres activity */
section.containerActivity {
    max-width: 100%;
}

section.containerActivity div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 1.5rem;
    width: auto;
}

.activityCard {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.activityCard1 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 440px;
    width: 400px;
}

.activityCard2 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 190px;
    width: 400px;
}

.activityCard3 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 190px;
    width: 400px;
}

.activityCard4 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 440px;
    width: 400px;
}

.activityCard5 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 190px;
    width: 400px;
}

.activityCard6 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 190px;
    width: 400px;    
}

.activityImg1, .activityImg4 {
    height: 85%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.activityImg2, .activityImg3, .activityImg5, .activityImg6 {
    height: 65%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

h4 {
    margin-left: 3%;;
}