@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* paramètres page police/marges */
body {
    font-family: "Raleway", "sans-serif";
    margin: 2% 2%;
}

/* paramètres header */
@media all and (max-width: 768px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    header img {
        height: 45px;
    }

    header div {
        align-content: space-between;
        width: 72%;
    }

    /* paramètres header/div/ul */
    header div ul {
        display: flex;
        list-style-type: none;
    }

    header li {
        justify-items: self-end;
    }

    /* paramètres header/div/a */
    header div a {
        text-decoration: none;
        color: black;
    }

    /* paramètres header/div/register */
    header a.register {
        text-decoration: none;
        color: #0065FC;
        font-weight: bold;
        order: 0;
    }

    /* paramètres header/liens survolés */
    header div ul li a:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 10px;
        font-weight: bold;
    }
}