@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* paramètres page police/marges */
body {
    font-family: "Raleway", "sans-serif";

}

/* paramètres header */

header img {
    height: 40px;
}

header {
    display:flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    
}

header div.register {
    order: 1;
}

/* paramètres header/div/ul */
header ul {
    display: flex;
    width: 100%;
    justify-content: space-between;    
    list-style-type: none;
}

/* paramètres header/div/a */
header div li a {
    text-decoration: none;
    color: black;
}

/* paramètres header/div/register */
header a.register {
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    margin-top: 1rem;
    order: 2;
}

/* paramètres header/liens survolés */
div li a:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    padding-bottom: 10px;
    font-weight: bold;
}