/* paramètres page police/marges */
body{
    font-family: "Raleway", sans-serif;
    margin: 20px 20px;
}

/* paramètres section containerHosting */
section.containerHosting {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5rem;
    max-width: 70%;
    margin-top: 1%;
}

/* paramètres article hostingCard */
article.hostingCard {
    border-radius: 1.10rem;
    height: auto;
    width: auto;
    padding: .15rem;
}

.hostingCard {
    background-color: white;
    padding: 0.385rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: content-box;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.hostingCard:hover {
    transform: scale(1.02);
}

.hostingCaption {
    font-weight: bold;
    margin-left: 1rem;
}
  
.hostingImg {
    height: 9rem;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding-top: .15rem;
}

.hostingDescriptive {
    margin: 1rem 0 0 1rem;
}

.hostingPrice {
    font-weight: bold;
}

.hostingGrade {
    margin: 1rem 0 0 1rem;
    padding-bottom: 1rem;
}

.gradeIcon[data-active=true] {
    color: #0065FC;
}

.gradeIcon[data-active=false] {
    color: #F2F2F2;
}

p {
    font-weight: bold;
    margin-left: 2rem;
}