/* paramètres page police/marges */
body {
    font-family: "Raleway", "sans-serif";
    margin: 2% 2%;
}

/* hosting popular */
main aside {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    max-width: 30%;
    padding: 2rem 2rem;
}

.popularTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: .2rem;
}

aside div figcaption {
    margin-left: 1rem;
}

aside article.popularCard {
    background-color: white;
    margin-top: 2rem;
    padding: 0.4rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 16px #0000002e;
    max-height: 200px;
    display: flex;
}

.popularCard:hover {
    transform: scale(1.02);
}

.popularImg {
    object-fit: cover;
    width: 48%;
    border-radius: 1rem 0 0 1rem;
    padding-left: .1rem;
}

.popularDescriptive {
    margin: 0 0 1rem 1rem;
}

.popularPrice {
    font-weight: bold;
}

div.popularGrade1, .popularGrade3  {
    margin: 5.5rem 1rem;
}

div.popularGrade2  {
    margin: 4rem 1rem;
}

@media all and (max-width: 1024px) {
    main aside {
        max-width: 100%;
        padding: 1rem;
    }

    aside article.popularCard {
        max-height: 150px;
        display: flex;
    }

    .popularImg {
        width: 40%;
    }

    div.popularGrade1, .popularGrade3  {
        margin: 2rem 1rem;
    }
    
    div.popularGrade2  {
        margin: 1rem 1rem;
    }
}