/* paramètres page police/marges */
body{
    font-family: "Raleway", sans-serif;
    margin: 20px 20px;
}

/* paramètres header */
header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

/* paramètres header/div */
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
}

/* paramètres header/ul */    
header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 77%;
}

/* paramètres header/div/a */
header div a {
    text-decoration: none;
}

/* paramètres header/div/span */
header div span {
    color: #0065FC;
}

/* paramètres header/liens survolés */
div li a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
    padding: 30px;
    font-weight: bold;
  }

  /* paramètres form */
form {
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 30%;
    margin-top: 3%;
}

/* paramètres search/form/icon */    
form .searchFormIcon {
    background-color: #F2F2F2;
    text-align: center;
    border: 1px solid;
    border-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem ;
    padding: 1rem 1rem;
}

/* paramètres search/form/input */    
form .searchFormInput {
    border-top: #F2F2F2 1px solid;
    border-right: none;
    border-bottom: #F2F2F2 1px solid;
    border-left: none;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem 0 1rem 0;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
}

form .searchFormSubmit {
    background-color: #0065FC;
    text-align: center;
    font-size: 1rem;
    color: white;    
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 1rem;
    margin: .5rem .5rem .5rem 0;   
  }

form .searchFormSubmitInputText {
    font-weight: bold;
    font-size: 1rem;
}

/* paramètres section */
.container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 4rem 0 0;
    max-width: 70%;
}

/* paramètres filters */
.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.filters:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
}

/* paramètres icons */
section .icons {
    background-color: #DEEBFF;
    text-align: center;
    border-radius: 100%;
    width: 1.2rem;
    padding: 1em 1em 1em 1em;
    color: #0065FC;
}

span {
    padding-left: 1rem;
    padding-right: 2rem;
}

/* paramètres section containerHosting */
section.containerHosting {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    max-width: 66%;
    padding: 2rem 2rem 2rem 2rem;
}

section.containerHosting div {   
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5rem;    
    margin-top: 1%;
    width: 100%;
}

/* paramètres article hostingCard */
article.hostingCard {
    border-radius: 1.10rem;
    height: auto;
    width: 29%;
}

.hostingCard {
    background-color: white;
    padding: 0.385rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: content-box;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.hostingCard:hover {
    transform: scale(1.02);
}

.hostingCaption {
    font-weight: bold;
    margin-left: 1rem;
}
  
.hostingImg {
    height: 9rem;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding-top: .15rem;
}

.hostingDescriptive {
    margin: 1rem 0 0 1rem;
    font-weight: normal;
}

.hostingPrice {
    font-weight: bold;
}

.hostingGrade {
    margin: 1rem 0 0 1rem;
    padding: 1rem 0 1rem 0;
}

.gradeIcon[data-active=true] {
    color: #0065FC;
}

.gradeIcon[data-active=false] {
    color: #F2F2F2;
}

p {
    font-weight: bold;
    margin-left: 2rem;
    font-size: 1.2em;
}

/* hosting popular */
* hosting popular */
aside.containerPopular {
    background-color: #F2F2F2;
    border-radius: 1.5rem ;
    width: 26%;
    padding: 2rem;
}

figcaption {
    font-weight: bold;
}

article.popularCard {
    background-color: white;
    margin-top: 2rem;
    padding: 0.3rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 170px;
    display: flex;
    justify-content: left;
}

.popularCard:hover {
    transform: scale(1.02);
}

.popularImg {
    max-width: 50%;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding-top: .15rem;
    border-radius: 1.5rem;
}

.popularDescriptive {
    margin: 0 0 1rem 1rem;
}

div.popularGrade {
    margin: 0 1rem;
}

.gradeIcon[data-active=true] {
    color: #0065FC;
}

.gradeIcon[data-active=false] {
    color: #F2F2F2;
}

h3 {
    margin: 1rem 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

/* paramètres activity */
section.containerActivity {
    max-width: 100%;
}

section.containerActivity div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 1.5rem;
    width: auto;
}

.activityCard {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.activityCard1 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 440px;
    width: 400px;
}

.activityCard2 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 190px;
    width: 400px;
}

.activityCard3 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 190px;
    width: 400px;
}

.activityCard4 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 440px;
    width: 400px;
}

.activityCard5 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 190px;
    width: 400px;
}

.activityCard6 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 190px;
    width: 400px;    
}

.activityImg1, .activityImg4 {
    height: 85%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.activityImg2, .activityImg3, .activityImg5, .activityImg6 {
    height: 65%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

h4 {
    margin-left: 3%;;
}
  
footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    justify-items: flex-start;
    width: 100%;
    margin-top: 4%;
}

footer div h4 {
    font-weight: bold;
}

footer div h5 {
    display: flex;
    flex-direction: column;
}