body
{
    min-height: 100%;
}

body
{
	background-color: rgb(255, 255, 255);
	color: #eee;
	font-size: 100%;
	padding: 0 20px;
}

/* Menu Reservia */
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu
{
	height: 60px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 480px)
.menu
{
    flex-direction: column;
    height: auto;
}

.menu
{
    padding: 0 5px;
}

/* images hébergement */
#container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#container-1
{
    float: left;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    border: solid 1px;
    margin: auto 10px; /* auto pour flex centre aussi verticalement */
    padding: 10px;
}

#container-2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-items: center;
    border: solid 1px;
    margin: auto 10px; /* auto pour flex centre aussi verticalement */
    padding: 10px;
}