/* paramètres page police/marges */
body{
    font-family: "Raleway", sans-serif;
    margin: 20px 20px;
}

/* paramètres header */
header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

/* paramètres header/div */
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
}

/* paramètres header/ul */    
header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 77%;
}

/* paramètres header/div/a */
header div a {
    text-decoration: none;
}

/* paramètres header/div/span */
header div span {
    color: #0065FC;
}

/* paramètres header/liens survolés */
div li a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
    padding: 30px;
    font-weight: bold;
  }

  /* paramètres form */
form {
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 30%;
    margin-top: 3%;
}

/* paramètres search/form/icon */    
form .searchFormIcon {
    background-color: #F2F2F2;
    text-align: center;
    border: 1px solid;
    border-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem ;
    padding: 1rem 1rem;
}

/* paramètres search/form/input */    
form .searchFormInput {
    border-top: #F2F2F2 1px solid;
    border-right: none;
    border-bottom: #F2F2F2 1px solid;
    border-left: none;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem 0 1rem 0;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
}

form .searchFormSubmit {
    background-color: #0065FC;
    text-align: center;
    font-size: 1rem;
    color: white;    
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 1rem;
    margin: .5rem .5rem .5rem 0;   
  }

form .searchFormSubmitInputText {
    font-weight: bold;
    font-size: 1rem;
}

/* paramètres section */
.container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 4rem 0 0;
    max-width: 70%;
}

/* paramètres filters */
.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.filters:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
}

/* paramètres icons */
section .icons {
    background-color: #DEEBFF;
    text-align: center;
    border-radius: 100%;
    width: 1.2rem;
    padding: 1em 1em 1em 1em;
    color: #0065FC;
}

span {
    padding-left: 1rem;
    padding-right: 2rem;
}

.containerHosting {
    background-color: #F2F2F2;
    border-radius: 1.5rem ;
    width: 66%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

article.hostingCard {
    justify-content: space-evenly;
    align-items:flex-end;
    border-radius: 1.5rem ;
    width: 70%;
    height: 100%;
    padding-bottom: 4rem;
}
  
.hostingCard {
    margin-top: 2rem;
    width: 30%;
}

.hostingCard {
    background-color: white;
    padding: 0.385rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    height: 100%;
}

.hostingCard:hover {
    transform: scale(1.02);
}

.hostingCaption {
    font-weight: bold;
    padding-top: .5rem;
    margin-left: 1rem;
    margin-left: 1rem;
}
  
.hostingImg {
    height: 9rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
}

.hostingDescriptive {
    margin: 1rem 0 1rem 1rem;
}

.hostingPrice {
    font-weight: bold;
}

.hostingGrade {
    margin: 1rem 0 1rem 1rem;
}

.gradeIcon[data-active=true] {
    color: #0065FC;
}

.gradeIcon[data-active=false] {
    color: #F2F2F2;
}

.hostingTitle {
    padding-top: 2rem;
}

/* hosting popular */
.containerPopular {
    background-color: #F2F2F2;
    border-radius: 1.5rem ;
    width: 30%;
    padding: 1rem;
    margin-top: 2%;
}

article .popularCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-end;
    border-radius: 1.5rem ;
    width: 70%;
    height: 100%;
    padding-bottom: 4rem;
}

figcaption {
    font-weight: bold;
    padding-top: 0;
    margin-left: 1rem;
    margin-left: 1rem;
}

.popularCard {
    margin-top: 2rem;
    width: 28%;
}

.popularCard {
    background-color: white;
    padding: 0.385rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    width: 100%;
    
}

.popularCard:hover {
    transform: scale(1.02);
}

.popularImg {
    height: 30%;
    object-fit: cover;
    max-width: 30%;
    max-height: 33%;
    border-radius: 1rem 1rem 0 0;
}

.popularDescriptive {
    margin: 1rem 0 1rem 1rem;
}

.popularPrice {
    font-weight: bold;
}

.popularGrade {
    margin: 1rem 0 1rem 1rem;
}

/* paramètres activity */
.containerActivity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    border-radius: 1.5rem ;
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
    margin-top: 2rem;
}

.activityCard1 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;  
    padding: .5rem ;
    margin: 1rem;
    height: 100%;
}

.activityCard2 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;   
    padding: .5rem ;
    margin: 1rem;
}

.activityCard3 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;   
    padding: .5rem ;
    margin: 1rem;
}

.activityCard4 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;   
    padding: .5rem ;
    margin: 1rem;
}

.activityCard5 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;   
    padding: .5rem ;
    margin: 1rem;
}

.activityCard6 {    
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;   
    padding: .5rem ;
    margin: 1rem;
}

.activityImg {
    position: relative;
    max-width: 100%;
    object-fit: cover;
}

.activityCard h3 {
    margin-left: 1.5rem;
}
  
footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    justify-items: flex-start;
    width: 100%;
    margin-top: 4%;
}

footer div h4 {
    font-weight: bold;
}

footer div h5 {
    display: flex;
    flex-direction: column;
}