.body
{
    min-height: 100%;
	background-color: rgb(255, 255, 255);
	color: #eee;
	font-size: 0 20px;
}

.logo
{
    display: flex;
    height: 60px;
    min-width: 240px;
    margin-left: 20px;
}

/* Menu Reservia */
.nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    width: 100%;
}

.menu
{
	height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 30%;
}

.label1
{
    border-top: solid 4px;
    color: #0065FC;
}

.label3
{
    color: #0065FC;
}

@media (max-width: 480px)
.menu
{
    flex-direction: column;
    height: auto;
}

.menu a
{
    padding: 0 5px;;
}

/* images hébergement */
#container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#container-1
{
    float: left;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    border: solid 1px;
    margin: auto 10px; /* auto pour flex centre aussi verticalement */
    padding: 10px;
}

#container-2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-items: center;
    border: solid 1px;
    margin: auto 10px; /* auto pour flex centre aussi verticalement */
    padding: 10px;
}