/* paramètres page police/marges */
body {
    font-family: "Raleway", "sans-serif";
    margin: 2% 2%;
}

/* paramètres header */
header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

/* paramètres header/div */
header div {
    display: flex;
    align-items: center;
    width: 30%;
}

/* paramètres header/ul */
header ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

header span {
    font-weight: bold;
}

/* paramètres header/div/a */
header div a {
    text-decoration: none;
    color: black;
}

/* paramètres header/div/span */
header div a.register {
    color: #0065FC;
    font-weight: bold;
}

/* paramètres header/liens survolés */
div li a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 20px;
    font-weight: bold;
  }

/* paramètres form */
form {
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 30%;
    margin-top: 3%;
}

/* paramètres search/form/icon */
form .searchFormIcon {
    background-color: #F2F2F2;
    text-align: center;
    border: 1px solid #F2F2F2;
    border-radius: 1rem 0 0 1rem ;
    padding: 1rem 1rem;
}

/* paramètres search/form/input */
form .searchFormInput {
    border-top: 1px solid #F2F2F2 ;
    border-right: none;
    border-bottom: 1px solid #F2F2F2 ;
    border-left: none;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem 0 1rem 0;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
}

form .searchFormSubmit {
    background-color: #0065FC;
    text-align: center;
    font-size: 1rem;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 1rem;
    
  }

form .searchFormSubmitInputText {
    font-weight: bold;
    font-size: 1rem;
}

form .searchFormSubmitInputIcon {
    display: none;
}

/* paramètres section */
section.container {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 2rem 0;
    max-width: 50%;
    align-items: baseline;
}

/* paramètres filters */
.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.filters:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
}

/* paramètres icons */
section .icons {
    background-color: #DEEBFF;
    text-align: center;
    border-radius: 100%;
    width: 1.2rem;
    padding: 1em 1em;
    color: #0065FC;
}

span {
    padding-left: 1rem;
    padding-right: 2rem;
}

div.icon .fas {
    margin: 0 0 3rem 0;
    color: #0065FC;
    text-align: center;
    border: 1px solid #DEEBFF;
    border-radius: 100%;
    width: 1rem;
    padding: .5em .5em;
}

/* paramètres section container */
.container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 4rem 0 0;
    max-width: 58%;
    align-items: baseline;
}

/* paramètres filters */
.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.filters:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
}

/* paramètres icons */
section .icons {
    background-color: #DEEBFF;
    text-align: center;
    border-radius: 100%;
    width: 1.2rem;
    padding: 1em 1em 1em 1em;
    color: #0065FC;
}

span {
    padding-left: 1rem;
    padding-right: 2rem;
}

div.icon {
    margin-top: 0;
}

main, section.aside {
    display: flex;
    justify-content: space-between;
}

/* paramètres section containerHosting */
section.containerHosting {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    max-width: 60%;
    padding: 1rem 1rem;
}

section h3.title {
    padding-left: 1rem;
} 

section.containerHosting div {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5rem;
    margin-top: 1%;
    width: 100%;
}

/* paramètres article hostingCard */
article.hostingCard {
    border-radius: 1.10rem;
    height: auto;
    width: 29%;
}

section div article.hostingCard {
    background-color: white;
    padding: 0.385rem;    
    box-shadow: 0 0 16px #0000002e;
    box-sizing: content-box;
    margin: 1rem;
}

.hostingCard:hover {
    transform: scale(1.02);
}

.hostingCaption { 
    margin-left: 1rem;
}
  
.hostingImg {
    height: 9rem;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding-top: .1rem;
}

.hostingDescriptive {
    margin: 1rem 0 0 1rem; 
}

.hostingPrice {
    font-weight: bold;
}

.hostingGrade {
    margin: 1rem 0 0 1rem;
    padding: 1rem 0 1rem 0;
}

.gradeIcon[data-active=true] {
    color: #0065FC;
}

.gradeIcon[data-active=false] {
    color: #F2F2F2;
}

section a.showMore {
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-top: 1rem;
    margin-left: 1rem;
}

/* hosting popular */
aside {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    max-width: 32%;
    padding: 0rem 2rem 2rem 2rem;
}

.popularTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: .2rem;
}

aside div figcaption {
    margin-left: 1rem;
}

aside article.popularCard {
    background-color: white;
    margin-top: 2rem;
    padding: 0.4rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 16px #0000002e;
    max-height: 200px;
    display: flex;
}

.popularCard:hover {
    transform: scale(1.02);
}

.popularImg {
    object-fit: cover;
    width: 48%;
    border-radius: 1rem 0 0 1rem;
    padding-left: .1rem;
}

.popularDescriptive {
    margin: 0 0 1rem 1rem;
}

.popularPrice {
    font-weight: bold;
}

div.popularGrade1, .popularGrade3  {
    margin: 5.5rem 1rem;
}

div.popularGrade2  {
    margin: 4rem 1rem;
}

/* paramètres activity */
section.containerActivity {    
    margin-top: 2%;
    justify-content: space-between;
}

section.containerActivity div {
    display: flex;    
    justify-content: space-between;
    border-radius: 1.5rem;
    max-width: 100%;
}

.activityTitle {
    margin-left: .5rem;
    margin-top: 2%;
}

.activityCard {
    flex-direction: column;
    align-content: space-between;
}

.activityCard1 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 440px;
    width: 424px;
}

.activityCard1:hover {
    transform: scale(1.02);
}

.activityCard2 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 202px;
    width: 424px;
}

.activityCard2:hover {
    transform: scale(1.02);
}

.activityCard3 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 202px;
    width: 424px;
}

.activityCard3:hover {
    transform: scale(1.02);
}

.activityCard4 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 440px;
    width: 424px;
}

.activityCard4:hover {
    transform: scale(1.02);
}

.activityCard5 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 202px;
    width: 424px;
}

.activityCard5:hover {
    transform: scale(1.02);
}

.activityCard6 {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    height: 202px;
    width: 424px;
}

.activityCard6:hover {
    transform: scale(1.02);
}

.activityImg1, .activityImg4 {
    height: 85%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.activityImg2, .activityImg3, .activityImg5, .activityImg6 {
    height: 68%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

div h4 {
    margin-left: 4%;
}

/* paramètres footer */
footer {
    display: flex;
    background-color: #F2F2F2;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer div {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

footer a {
    text-decoration: none;
    color: black;
    line-height: 2;
}

footer #title {
    margin-left: 0;
}

a.btn-default {
    font-size: 2rem;
    margin: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 100%;
    width: 2%;
    height: 2%;
    padding: .5rem 1rem 1rem 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

a.btn-default:hover {
    transform: scale(1.2);
}

@media all and (max-width: 1024px) {    
    header div {
        width: 44%;
    }
    
    form {
        max-width: 44%;
    }

    form .searchFormSubmitInputText {
        display: none;
    }

    form .searchFormInput {
        width: 66%;
    }

    form .searchFormSubmitInputIcon {
        display: initial;
    }

    form .searchFormSubmit {
        border-radius: 1rem 1rem;
    }

    h3 {
        padding-top: 1%;
    }

     section.container {
        max-width: 100%;
    }

    .filters {
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    span {
        padding-right: 1rem;
    }

    section.containerHosting {
        max-width: 60%;
        margin-right: 1rem;
        padding: 1rem 0 2rem 0rem;   
    }

    section div article.hostingCard {
        background-color: white;
        padding: 0.385rem;    
        box-shadow: 0 0 16px #0000002e;
        box-sizing: content-box;
        margin: 1rem;
    }

    article.hostingCard {
        width: 42%;
        justify-content: space-between;
    }

    section_h3 { 
        margin-left: 1rem;
    }

    section a.showMore {
        padding-left: 1rem;
    }

    main aside {
        flex-direction: column;
        max-width: 100%;
        padding: 1rem;
    }

    aside article.popularCard {
        max-height: 150px;
        display: flex;
    }

    .popularImg {
        width: 40%;
    }

    div.popularGrade1, .popularGrade3  {
        margin: 1rem 1rem;
    }
    
    div.popularGrade2  {
        margin: 1rem 1rem;
    }

    .activityTitle {
        margin: 1rem;
    }

    .activityCard1, .activityCard4 {        
        width: 234px;
        height: 400px;
    }

    .activityCard2, .activityCard3, .activityCard5, .activityCard6 {        
        width: 234px;
        height: 193px;        
    }

    .activityCard2 .activityCard5 {        
        margin-bottom: 2%;
    }

    .activityCard3, .activityCard6 {        
        margin-top: 3%;
     }

    .activityImg1, .activityImg4 {
        object-fit: cover;
        object-position: center;
        border-radius: 1rem 1rem 0 0;
    }
    
    .activityImg2, .activityImg3, .activityImg5, .activityImg6 {
        height: 8.3rem;
        object-fit: cover;
        object-position: center;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
         
    footer div {
        color: black;
        line-height: 2;
    }
    
    footer #title {
        margin-left: 0;
    }
}

@media all and (max-width: 768px) {
    header img {
        height: 60px;
    }
    
    header div {
       flex-direction: column-reverse;
    }
        
     header ul {
         display: flex;
         justify-content: space-around;
     }
    
    form {
        max-width: 100%;
    }

    form .searchFormSubmitInputText {
        display: none;
    }

    form .searchFormInput {
        width: 100%;
    }

    h3 {
        padding-top: 2%;
    }
    
    section.container {
        flex-direction: column;
        margin: 1rem 0 0 0;
        max-width: 100%;
    }

    div.icon {
        margin-bottom: 8%;
    }

    div.icon .fas {
        margin: 1rem 0 0 0
    }

    .filters {
        margin-bottom: 1rem;
        align-content: center;
    }    

    main, section.aside {
        flex-wrap: wrap;
        width: 100%;
    }

    section.containerHosting {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    article.hostingCard {
        width: 100%;
    }

    section_h3 { 
        margin-left: 1rem;
    }

    section a.showMore {
        padding-left: 1rem;
    }

    main aside {
        max-width: 100%;
        padding: 1rem;
    }

    aside article.popularCard {
        max-height: 150px;
        display: flex;
    }

    .popularImg {
        width: 40%;
    }

    div.popularGrade1, .popularGrade3  {
        margin: 1rem 1rem;
    }
    
    div.popularGrade2  {
        margin: 1rem 1rem;
    }

    .activityTitle {
        margin: 3rem 0 0 0 ;
    }

    section.containerActivity div {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .activityCard1, .activityCard2, .activityCard3, .activityCard4, .activityCard5, .activityCard6 {
        height: 190px;
        width: 100%;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .activityImg1, .activityImg2, .activityImg3, .activityImg4, .activityImg5, .activityImg6 {
        height: 9rem;
        object-fit: cover;
        object-position: center;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    
    footer {
        flex-direction: column;
    }
    
    footer div {
        width: 100%;
        flex-direction: column;
        color: black;
        line-height: 2;
    }
    
    footer #title {
        margin-left: 0;
    }
}