/* paramètres page police/marges */
body{
    font-family: "Raleway", sans-serif;
    margin: 20px 20px;
}

/* paramètres header */
header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

/* paramètres header/div */
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

/* paramètres header/ul */    
header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 77%;
}

/* paramètres header/div/a */
div a {
    text-decoration: none;
    font-weight: bold;
}

/* paramètres header/liens survolés */
div li a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
    padding: 25px;
    font-weight: bold;
  }

/* paramètres form */
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    max-width: 25%;
    margin-top: 3%;
}

/* paramètres form/icon */    
.searchFormIcon {
    background-color: #F2F2F2;
    text-align: center;
    border: 1px solid;
    border-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem ;
    padding: 1rem 1rem;
}

/* paramètres form/input */    
.searchInput {
    border-top: #F2F2F2 1px solid;
    border-right: none;
    border-bottom: #F2F2F2 1px solid;
    border-left: none;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem 0 1rem 0;
    width: 50%;
    margin: 0;
} 

.searchSubmitInput {
    background-color: #0065FC;
    text-align: center;
    font-size: 1rem;
    color: white;    
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 1rem;
    margin: .5rem .5rem .5rem 0;   
    cursor: pointer;
  }

.searchInput {
      font-weight: bold;
      font-size: 1rem;
  }

/* paramètres filters */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    max-width: 60%;
    margin-top: 3%;
}

section .filtersIcon .fas {
    background-color: #DEEBFF;
    text-align: center;
    border-radius: 100%;
    padding: 1em 1em 1em 1em;
    color: #0065FC;
    margin-right: 0;
}

section .filtersTitle {
    box-sizing: border-box;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    border-right: #F2F2F2 1px solid;
    border-radius: 0 2.5rem 2.5rem 0;
    padding: 1em 1em 1em 1em;
    text-align: left;
    margin-left: 0;
}

/* paramètres info */
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    max-width: 31%;
    margin-top: 3%;
}

.info .fas {
    text-align: center;
    border: #DEEBFF 1px solid;
    border-radius: 100%;
    padding: 1em 1.2em 1em 1.2em;
    color: #0065FC;
    margin-right: 0;
}

/* paramètres hosting/hébergement */
article {
    background-color: #F2F2F2;
    max-width: 70%;
    margin-top: 4%;
}

h2 {
    padding: 2rem 0 2rem 2rem;
}

.card {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;    
    padding: 1.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: white;    
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    width: 20%;
}

.card:hover {
    transform: scale(1.02);
}
.card {
    margin: 15px;
}

.card img {
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

figcaption {
    margin: 0.25rem 0.75rem 0 0.75rem;
}

.grade [data-active=true] {
    color: #0065FC;
}

.grade [data-active=false] {
    color: #d9d9d9;
}






footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    justify-items: flex-start;
    width: 100%;   
}

footer div a {
    display: flex;
    flex-direction: column;
}

footer h4 {
    font-weight: bold;
}